<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Anki</title>
</head>
<body>
  <h1>Welcome to Anki</h1>

  <ul>
    <li><a href="/createCards">Add New Card</a></li>
    <li><a href="/cards">View All Cards</a></li>
  </ul>

  <p>Total cards in your collection: <%= totalCards %></p>
</body>
</html>
